<div class="wrapper">
    <section class="info">
        <div class="wrapInner">
            <form class="infoForm" action="#">
                <div class="infoForm__step active">
                    <h4 class="infoForm__title">Wire Information</h4>
                    <div class="box-input">
                        <input type="text" id="name" placeholder="Beneficiary Name">
                    </div>
                    <div class="box-input">
                        <input type="text" id="city" placeholder="Beneficiary City">
                    </div>
                    <div class="box-input">
                        <select id="Country">
                            <option>Beneficiary Country</option>
                            <option>Country</option>
                            <option>Country</option>
                            <option>Country</option>
                            <option>Country</option>
                        </select>
                    </div>
                    <div class="box-input">
                        <input type="text" id="bankName" placeholder="Bank Name">
                    </div>
                    <div class="box-input">
                        <input type="text" id="swift" placeholder="Swift">
                    </div>
                </div>
                <div class="infoForm__step">
                    <h4 class="infoForm__title">Wire Information</h4>
                    <div class="box-input">
                        <input type="text" id="infoLine1" placeholder="infoLine1">
                    </div>
                    <div class="box-input">
                        <input type="text" id="infoLine2" placeholder="infoLine2">
                    </div>
                    <div class="box-input">
                        <input type="text" id="infoLine3" placeholder="infoLine3">
                    </div>
                    <div class="box-input">
                        <input type="text" id="infoLine4" placeholder="infoLine4">
                    </div>
                </div>
                <div class="infoForm__step">
                    <h4 class="infoForm__title">Wire Information</h4>
                    <div class="box-input">
                        <input type="text" id="infoLine2_1" placeholder="infoLine2_1">
                    </div>
                    <div class="box-input">
                        <input type="text" id="infoLine2_2" placeholder="infoLine2_2">
                    </div>
                    <div class="box-input">
                        <input type="text" id="infoLine2_3" placeholder="infoLine2_3">
                    </div>
                    <div class="box-input">
                        <input type="text" id="infoLine2_4" placeholder="infoLine2_4">
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>