<div class="mobMenu">
    <div class="wrap">
        <i class="icon-plus btn-close js-btnClose"></i>
        <div class="mobMenu__inner">
            <ul class="mobMenu__list">
                <li class="mobMenu__item">
                    <a href="javascript:void(0)">Line 1</a>
                </li>
                <li class="mobMenu__item">
                    <a href="javascript:void(0)">Line 2</a>
                </li>
                <li class="mobMenu__item">
                    <a href="javascript:void(0)">Line 3</a>
                </li>
                <li class="mobMenu__item">
                    <a href="javascript:void(0)">Line 4</a>
                </li>
                <li class="mobMenu__item">
                    <a href="javascript:void(0)">Line 5</a>
                </li>
                <li class="mobMenu__item">
                    <a href="javascript:void(0)">Line 6</a>
                </li>
            </ul>
        </div>
    </div>
</div>